<%= form_for @service, html: { class: 'form-horizontal' } do |f| %>
<%= f.text_field :name, class: 'text_field span5' %>
<%= f.text_area :description, class: 'text_area markdown span10', placeholder: '# Markdown' %>
<%= f.text_field :munin_url, class: 'text_field span10', placeholder: 'http://' %>
<div class="form-actions">
  <%= f.submit nil, class: 'btn btn-primary' %>
</div>
<% end %>
