<h1>Listing services</h1>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @services) do |service| %>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= link_to 'Show', service %></td>
      <td><%= link_to 'Edit', edit_service_path(service) %></td>
      <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
