<%- model_class = Service -%>
<div class="page-header">
  <h1><%= model_class.model_name.human(count: 2) %></h1>
</div>

<%= render partial: 'shared/services', locals: { services: @services_without_deleted, is_deletable: true } %>
<%= link_to t('helpers.links.new'), new_service_path, class: 'btn btn-primary lsf-icon', title: 'plus' %>

<% unless @deleted_services.blank? -%>
  <hr />
  <h2><%= t('.destroyed_services') %></h2>
  <%= render partial: 'shared/services', locals: { services: @deleted_services, is_deletable: false } %>
<% end -%>
