<%- model_class = Service -%>
<% content_for :title do -%>
  <%= model_class.model_name.human %> - <%= @service.name %>
<% end -%>

<div class="page-header">
  <h1><%= model_class.model_name.human %> - <%= @service.name %></h1>
</div>

<div class="row-fluid">
  <div class="span8">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @service.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
      <dd><%= markdown(@service.description) %></dd>
      <% if @munin.activated? -%>
        <dt><strong><%= model_class.human_attribute_name(:munin_url) %>:</strong></dt>
        <dd>
          <%= link_to @service.munin_url, @service.munin_url %>
        </dd>
      <% end -%>
    </dl>
  </div>

  <div class="span4">
    <div>
      <%= link_to t('helpers.links.edit'), edit_service_path(@service), class: 'btn' %>
      <%= link_to t('helpers.links.destroy'), service_path(@service), method: 'delete',
          data: { confirm: t('helpers.links.confirm') },
          class: 'btn btn-danger' %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <h2><%= Role.model_name.human(count: 2) %></h2>
  <% if @service.roles_with_hosts.present? -%>
    <ul>
      <% @service.roles_with_hosts.keys.each do |role| -%>
        <li><%= link_to role.name, "##{role.name}"  %></li>
      <% end -%>
    </ul>
  <% end -%>

  <% @service.roles_with_hosts.each do |role, hosts| -%>
    <h3 id="<%= role.name %>"><%= role.name %></h3>
    <%= render partial: 'shared/hosts', locals: {
          service:      @service,
          role:         role,
          hosts:        hosts,
          is_deletable: true,
          munin:        @munin,
        } %>
  <% end -%>
</div>

<div class="row-fluid">
  <h2><%= Comment.model_name.human(count: 2) %></h2>
  <%= render partial: 'shared/comment_form', locals: { parent: @service } %>
  <%= render partial: 'shared/comments', locals: { comments: @service.comments } %>
</div>

<div class="row-fluid">
  <h2><%= Activity.model_name.human(count: 2) %></h2>
  <%= render partial: 'shared/activities', locals: { activities: @service.activities } %>
</div>
