<%= form_for @host, :html => { :class => 'form-horizontal' } do |f| %>
<div class="row">
  <div class="span5">
    <div class="control-group">
      <%= f.label :ip_address, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :ip_address, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_area' %>
      </div>
    </div>
  </div>
  <div class="span4">
    <%= f.fields_for :host_relations do |relation| %>
      <%= relation.select :service_id, options_for_select([['---', nil]] + Service.all.map{ |s| [ s.name, s.id ] }, relation.object.service_id) %> -
      <%= relation.select :role_id, options_for_select([['---', nil]] + Role.all.map{ |r| [ r.name, r.id ]}, relation.object.role_id) %>
    <% end -%>
  </div>
</div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      hosts_path, :class => 'btn' %>
</div>
<% end %>
