<%- model_class = Host -%>
<div class="page-header">
  <h1><%= model_class.model_name.human(count: 2) %></h1>
</div>

<%= render partial: 'shared/hosts', locals: { hosts: @hosts_without_deleted, is_deletable: true } %>
<%= link_to t('helpers.links.new'), new_host_path, class: 'btn btn-primary' %>

<% unless @deleted_hosts.blank? -%>
  <hr />
  <h2><%= t('.destroyed_hosts') %></h2>
  <%= render partial: 'shared/hosts', locals: { hosts: @deleted_hosts, is_deletable: false } %>
<% end -%>
