<%- model_class = Host -%>
<div class="page-header">
  <h1><%= model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @host.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ip_address) %>:</strong></dt>
  <dd><%= @host.ip_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_active) %>:</strong></dt>
  <dd><%= t(@host.active ? model_class.human_attribute_name(:active) : model_class.human_attribute_name(:inactive)) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @host.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:service) %> - <%= model_class.human_attribute_name(:role) %>:</strong></dt>
  <% @host.host_relations.each do |relation| -%>
    <dd><%= relation.service.name %> - <%= relation.role.name %></dd>
  <% end -%>
</dl>

<div class="form-actions">
  <%= link_to t('helpers.links.edit'), edit_host_path(@host), class: 'btn' %>
  <%= link_to t('helpers.links.destroy'), host_path(@host), method: 'delete',
      data: { confirm: t('helpers.links.confirm') },
      class: 'btn btn-danger' %>
</div>

<% if @munin.find_service_that_hash_munin_url_by(@host) -%>
  <div>
    <h2><%= t('hosts.show.graphs') %></h2>
    <p><%= link_to @munin.url_for(host: @host).to_s, @munin.url_for(host: @host).to_s %></p>
    <% @munin.categories.each do |category| -%>
      <h3><%= category[:name] %></h3>
      <div class="sub_category">
        <% category[:sub_categories].each do |sub_category| -%>
          <div class="row-fluid">
            <h4><%= sub_category[:name] %></h4>
            <div class="span5">
              <%= image_tag @munin.graph_url_for(host: @host, options: { type: sub_category[:type].to_sym, span: :day }), class: 'graph' %>
            </div>
            <div class="span5">
              <%= image_tag @munin.graph_url_for(host: @host, options: { type: sub_category[:type].to_sym, span: :week }), class: 'graph' %>
            </div>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>
<% end -%>

<div class="row-fluid">
  <h2><%= Comment.model_name.human(count: 2) %></h2>
  <%= render partial: 'shared/comment_form', locals: { parent: @host } %>
  <%= render partial: 'shared/comments', locals: { comments: @host.comments } %>
</div>

<div class="row-fluid">
  <h2><%= Activity.model_name.human(count: 2) %></h2>
  <%= render partial: 'shared/activities', locals: { activities: @host.activities } %>
</div>
