<%- model_class = User -%>
<div class="page-header">
  <h1><%= model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:api_token) %>:</strong></dt>
  <dd>
    <%= current_user.api_token %>
    <%= form_for current_user do |f| %>
      <%= f.submit t('helpers.links.update'), class: 'btn btn-primary' %>
    <% end -%>
  </dd>
</dl>
