<%- model_class = Activity -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:tag) %></th>
      <th><%= model_class.human_attribute_name(:diff) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% activities.each do |activity| %>
      <tr>
        <td>
          <%= image_tag activity.user.image, width: 16, height: 16 %>
          <%= activity.user.name %>
        </td>
        <td>
          <% if activity.model_type == 'User' -%>
            <%= activity.model.class.model_name.human %>
          <% else -%>
            <%
              name = activity.model.class.model_name.human
              name << " (#{activity.model.name})" if activity.model.respond_to?('name') -%>
            <%= link_to name, activity.model %>
          <% end -%>
        </td>
        <td><%= t("helpers.activities.tag.#{activity.tag}") %></td>
        <td>
          <% if activity.diff -%>
            <% activity.diff.each do |key, value| -%>
              <ul>
                <% if key == 'host_relations' -%>
                  <% value.each do |type, relations| -%>
                    <li><%= t('helpers.activities.relation', type: t("helpers.activities.#{type}")) %>
                      <ul>
                        <% relations.each do |relation| -%>
                          <li><%= t('activerecord.models.service') %>: <%= relation['service'] %>/<%= t('activerecord.models.role') %>: <%= relation['role'] %></li>
                        <% end -%>
                      </ul>
                    </li>
                  <% end -%>
                <% else -%>
                  <li><%= key %>
                    <ul>
                      <li><%= t('helpers.activities.old') %>: <% if value[0].blank? -%><%= t('helpers.activities.blank') %><% else -%><%= value[0] %><% end -%></li>
                      <li><%= t('helpers.activities.new') %>: <% if value[1].blank? -%><%= t('helpers.activities.blank') %><% else -%><%= value[1] %><% end -%></li>
                    </ul>
                  </li>
                <% end -%>
              </ul>
            <% end -%>
          <% end -%>
        </td>
        <td><%=l activity.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
