<%-
   model_class = Host

   service      ||= nil
   role         ||= nil
   is_deletable ||= nil
   munin        ||= nil
   -%>

<% if hosts.empty? -%>
  <p><%= t('hosts.index.empty') %></p>
<% else -%>
  <table class="table table-striped">
    <thead>
      <tr>
        <% if munin -%>
          <th class="graph"><%= model_class.human_attribute_name(:graph) %></th>
        <% end -%>
        <th><%= model_class.human_attribute_name(:name) %>/<%= model_class.human_attribute_name(:ip_address) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:is_active) %></th>
        <th><%= t(is_deletable ? 'helpers.actions.edit_delete' : 'helpers.actions.edit_revert') %></th>
      </tr>
    </thead>
    <tbody>
      <% hosts.each do |host| %>
        <tr>
          <% if munin -%>
            <td class="graph">
              <%= link_to image_tag(munin.graph_url_for(role: role, host: host).to_s), munin.url_for(role: role, host: host).to_s, target: '_blank'  %>
            </td>
          <% end -%>
          <td>
            <h5><%= link_to host.name, host_path(host) %></h5>
            <p><%= host.ip_address %></p>
          </td>
          <td>
            <p>Created at<br><%=l host.created_at %></p>
            <p><%= host.description %></p>
          </td>
          <td>
            <%= t(host.active ? model_class.human_attribute_name(:active) : model_class.human_attribute_name(:inactive)) %>
          </td>
          <td>
            <%= link_to t('helpers.links.edit'),
                edit_host_path(host), class: 'btn btn-mini' %>
            <% if is_deletable -%>
              <%= link_to t('helpers.links.destroy'),
                  host_path(host),
                  method: :delete,
                  data: { confirm: t('helpers.links.confirm') },
                  class: 'btn btn-mini btn-danger' %>
            <% else -%>
              <%= link_to t('helpers.links.revert'),
                  revert_host_path(host),
                  method: :put,
                  class: 'btn btn-mini btn-info' %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>
