<%- model_class = Service -%>

<% if services.empty? -%>
  <p><%= t('services.index.empty') %></p>
<% else -%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:description) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%= t(is_deletable ? 'helpers.actions.edit_delete' : 'helpers.actions.edit_revert') %></th>
      </tr>
    </thead>
    <tbody>
      <% services.each do |service| %>
        <tr>
          <td><%= link_to service.name, service_path(service) %></td>
          <td><%= service.description %></td>
          <td><%=l service.created_at %></td>
          <td>
            <%= link_to t('helpers.links.edit'),
                edit_service_path(service), class: 'btn btn-mini' %>
            <% if is_deletable -%>
              <%= link_to t('helpers.links.destroy'),
                  service_path(service),
                  method: :delete,
                  data: { confirm: t('helpers.links.confirm') },
                  class: 'btn btn-mini btn-danger' %>
            <% else -%>
              <%= link_to t('helpers.links.revert'),
                  revert_service_path(service),
                  method: :put,
                  class: 'btn btn-mini btn-info' %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>