<%- model_class = Role -%>

<% if roles.empty? -%>
  <p><%= t('roles.index.empty') %></p>
<% else -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= t(is_deletable ? 'helpers.actions.edit_delete' : 'helpers.actions.edit_revert') %></th>
    </tr>
  </thead>
  <tbody>
    <% roles.each do |role| %>
      <tr>
        <td><%= link_to role.name, role_path(role) %></td>
        <td><%= role.description %></td>
        <td><%=l role.created_at %></td>
        <td>
          <%= link_to t('helpers.links.edit'),
                      edit_role_path(role), class: 'btn btn-mini' %>
          <% if is_deletable -%>
            <%= link_to t('helpers.links.destroy'),
                role_path(role),
                method: :delete,
                data: { confirm: t('helpers.links.confirm') },
                class: 'btn btn-mini btn-danger' %>
          <% else -%>
              <%= link_to t('helpers.links.revert'),
                  revert_role_path(role),
                  method: :put,
                  class: 'btn btn-mini btn-info' %>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end -%>
