<%- model_class = Role -%>
<div class="page-header">
  <h1><%= model_class.model_name.human(count: 2) %></h1>
</div>

<%= render partial: 'roles', locals: { roles: @roles_without_deleted, is_deletable: true } %>
<%= link_to t('helpers.links.new'), new_role_path, class: 'btn btn-primary' %>

<% unless @deleted_roles.blank? -%>
  <hr />
  <h2><%= t('.destroyed_roles') %></h2>
  <%= render partial: 'roles', locals: { roles: @deleted_roles, is_deletable: false } %>
<% end -%>
