<%- model_class = Role -%>
<% content_for :title do -%>
  <%= model_class.model_name.human %> - <%= @role.name %>
<% end -%>

<div class="page-header">
  <h1><%= model_class.model_name.human %> - <%= @role.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @role.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @role.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('helpers.links.edit'), edit_role_path(@role), class: 'btn' %>
  <%= link_to t('helpers.links.destroy'), role_path(@role), method: 'delete',
      data: { confirm: t('helpers.links.confirm') },
      class: 'btn btn-danger' %>
</div>

<div class="row-fluid">
  <h2><%= Comment.model_name.human.pluralize %></h2>
  <%= render partial: 'shared/comment_form', locals: { parent: @role } %>
  <%= render partial: 'shared/comments', locals: { comments: @role.comments } %>
</div>
